<div class="card">
    <div id="header_title" class="card-header">
        <h2 style="height: 3rem; vertical-align:middle; display:table-cell;">
            Your Account is Disabled
        </h2>
    </div>

    <div class="card-body">
        <p><h3>You are unable to access the Snow Avalanche and Weather System.</h3></p>
        <p>
            If you have any questions, please email IT support at this email: <a href="mailto:awpit@gov.bc.ca">awpit@gov.bc.ca</a>
        </p>
        <br />
    </div>
</div>